<div class="header">
  <h1><a routerLink="/">UDEV CARD GAMES</a></h1>
  <button (click)="shuffleDeck()" id="shuffleDeck">Shuffle</button>
  <button (click)="firstDeal()" id="btnFirstDeal">Deal</button>
</div>
<div class="main">
  <div class="computer">
    <div class="computerCards" *ngFor="let prop of computerCardsArr">
      <img src="assets/cardsImg/back_blue.jpg" *ngIf="prop.name == 'secondCardHide'">
      <img src="assets/cardsImg/2C.jpg" *ngIf="prop.name == '2ofClubs'">
      <img src="assets/cardsImg/3C.jpg" *ngIf="prop.name == '3ofClubs'">
      <img src="assets/cardsImg/4C.jpg" *ngIf="prop.name == '4ofClubs'">
      <img src="assets/cardsImg/5C.jpg" *ngIf="prop.name == '5ofClubs'">
      <img src="assets/cardsImg/6C.jpg" *ngIf="prop.name == '6ofClubs'">
      <img src="assets/cardsImg/7C.jpg" *ngIf="prop.name == '7ofClubs'">
      <img src="assets/cardsImg/8C.jpg" *ngIf="prop.name == '8ofClubs'">
      <img src="assets/cardsImg/9C.jpg" *ngIf="prop.name == '9ofClubs'">
      <img src="assets/cardsImg/10C.jpg" *ngIf="prop.name == '10ofClubs'">
      <img src="assets/cardsImg/12C.jpg" *ngIf="prop.name == '12ofClubs'">
      <img src="assets/cardsImg/13C.jpg" *ngIf="prop.name == '13ofClubs'">
      <img src="assets/cardsImg/14C.jpg" *ngIf="prop.name == '14ofClubs'">
      <img src="assets/cardsImg/1C.jpg" *ngIf="prop.name == '11ofClubs'">
      <img src="assets/cardsImg/2D.jpg" *ngIf="prop.name == '2ofDiamonds'">
      <img src="assets/cardsImg/3D.jpg" *ngIf="prop.name == '3ofDiamonds'">
      <img src="assets/cardsImg/4D.jpg" *ngIf="prop.name == '4ofDiamonds'">
      <img src="assets/cardsImg/5D.jpg" *ngIf="prop.name == '5ofDiamonds'">
      <img src="assets/cardsImg/6D.jpg" *ngIf="prop.name == '6ofDiamonds'">
      <img src="assets/cardsImg/7D.jpg" *ngIf="prop.name == '7ofDiamonds'">
      <img src="assets/cardsImg/8D.jpg" *ngIf="prop.name == '8ofDiamonds'">
      <img src="assets/cardsImg/9D.jpg" *ngIf="prop.name == '9ofDiamonds'">
      <img src="assets/cardsImg/10D.jpg" *ngIf="prop.name == '10ofDiamonds'">
      <img src="assets/cardsImg/12D.jpg" *ngIf="prop.name == '12ofDiamonds'">
      <img src="assets/cardsImg/13D.jpg" *ngIf="prop.name == '13ofDiamonds'">
      <img src="assets/cardsImg/14D.jpg" *ngIf="prop.name == '14ofDiamonds'">
      <img src="assets/cardsImg/1D.jpg" *ngIf="prop.name == '11ofDiamonds'">
      <img src="assets/cardsImg/2S.jpg" *ngIf="prop.name == '2ofSpades'">
      <img src="assets/cardsImg/3S.jpg" *ngIf="prop.name == '3ofSpades'">
      <img src="assets/cardsImg/4S.jpg" *ngIf="prop.name == '4ofSpades'">
      <img src="assets/cardsImg/5S.jpg" *ngIf="prop.name == '5ofSpades'">
      <img src="assets/cardsImg/6S.jpg" *ngIf="prop.name == '6ofSpades'">
      <img src="assets/cardsImg/7S.jpg" *ngIf="prop.name == '7ofSpades'">
      <img src="assets/cardsImg/8S.jpg" *ngIf="prop.name == '8ofSpades'">
      <img src="assets/cardsImg/9S.jpg" *ngIf="prop.name == '9ofSpades'">
      <img src="assets/cardsImg/10S.jpg" *ngIf="prop.name == '10ofSpades'">
      <img src="assets/cardsImg/12S.jpg" *ngIf="prop.name == '12ofSpades'">
      <img src="assets/cardsImg/13S.jpg" *ngIf="prop.name == '13ofSpades'">
      <img src="assets/cardsImg/14S.jpg" *ngIf="prop.name == '14ofSpades'">
      <img src="assets/cardsImg/1S.jpg" *ngIf="prop.name == '11ofSpades'">
      <img src="assets/cardsImg/2H.jpg" *ngIf="prop.name == '2ofHearts'">
      <img src="assets/cardsImg/3H.jpg" *ngIf="prop.name == '3ofHearts'">
      <img src="assets/cardsImg/4H.jpg" *ngIf="prop.name == '4ofHearts'">
      <img src="assets/cardsImg/5H.jpg" *ngIf="prop.name == '5ofHearts'">
      <img src="assets/cardsImg/6H.jpg" *ngIf="prop.name == '6ofHearts'">
      <img src="assets/cardsImg/7H.jpg" *ngIf="prop.name == '7ofHearts'">
      <img src="assets/cardsImg/8H.jpg" *ngIf="prop.name == '8ofHearts'">
      <img src="assets/cardsImg/9H.jpg" *ngIf="prop.name == '9ofHearts'">
      <img src="assets/cardsImg/10H.jpg" *ngIf="prop.name == '10ofHearts'">
      <img src="assets/cardsImg/12H.jpg" *ngIf="prop.name == '12ofHearts'">
      <img src="assets/cardsImg/13H.jpg" *ngIf="prop.name == '13ofHearts'">
      <img src="assets/cardsImg/14H.jpg" *ngIf="prop.name == '14ofHearts'">
      <img src="assets/cardsImg/1H.jpg" *ngIf="prop.name == '11ofHearts'">
    </div>
    <div class="computerResult"><h2>{{computerResult}}</h2></div>
  </div>
  <div class="player">
      <div class="playerCards" *ngFor="let prop of playerCardsArr">
          <img src="assets/cardsImg/2C.jpg" *ngIf="prop.name == '2ofClubs'">
          <img src="assets/cardsImg/3C.jpg" *ngIf="prop.name == '3ofClubs'">
          <img src="assets/cardsImg/4C.jpg" *ngIf="prop.name == '4ofClubs'">
          <img src="assets/cardsImg/5C.jpg" *ngIf="prop.name == '5ofClubs'">
          <img src="assets/cardsImg/6C.jpg" *ngIf="prop.name == '6ofClubs'">
          <img src="assets/cardsImg/7C.jpg" *ngIf="prop.name == '7ofClubs'">
          <img src="assets/cardsImg/8C.jpg" *ngIf="prop.name == '8ofClubs'">
          <img src="assets/cardsImg/9C.jpg" *ngIf="prop.name == '9ofClubs'">
          <img src="assets/cardsImg/10C.jpg" *ngIf="prop.name == '10ofClubs'">
          <img src="assets/cardsImg/12C.jpg" *ngIf="prop.name == '12ofClubs'">
          <img src="assets/cardsImg/13C.jpg" *ngIf="prop.name == '13ofClubs'">
          <img src="assets/cardsImg/14C.jpg" *ngIf="prop.name == '14ofClubs'">
          <img src="assets/cardsImg/1C.jpg" *ngIf="prop.name == '11ofClubs'">
          <img src="assets/cardsImg/2D.jpg" *ngIf="prop.name == '2ofDiamonds'">
          <img src="assets/cardsImg/3D.jpg" *ngIf="prop.name == '3ofDiamonds'">
          <img src="assets/cardsImg/4D.jpg" *ngIf="prop.name == '4ofDiamonds'">
          <img src="assets/cardsImg/5D.jpg" *ngIf="prop.name == '5ofDiamonds'">
          <img src="assets/cardsImg/6D.jpg" *ngIf="prop.name == '6ofDiamonds'">
          <img src="assets/cardsImg/7D.jpg" *ngIf="prop.name == '7ofDiamonds'">
          <img src="assets/cardsImg/8D.jpg" *ngIf="prop.name == '8ofDiamonds'">
          <img src="assets/cardsImg/9D.jpg" *ngIf="prop.name == '9ofDiamonds'">
          <img src="assets/cardsImg/10D.jpg" *ngIf="prop.name == '10ofDiamonds'">
          <img src="assets/cardsImg/12D.jpg" *ngIf="prop.name == '12ofDiamonds'">
          <img src="assets/cardsImg/13D.jpg" *ngIf="prop.name == '13ofDiamonds'">
          <img src="assets/cardsImg/14D.jpg" *ngIf="prop.name == '14ofDiamonds'">
          <img src="assets/cardsImg/1D.jpg" *ngIf="prop.name == '11ofDiamonds'">
          <img src="assets/cardsImg/2S.jpg" *ngIf="prop.name == '2ofSpades'">
          <img src="assets/cardsImg/3S.jpg" *ngIf="prop.name == '3ofSpades'">
          <img src="assets/cardsImg/4S.jpg" *ngIf="prop.name == '4ofSpades'">
          <img src="assets/cardsImg/5S.jpg" *ngIf="prop.name == '5ofSpades'">
          <img src="assets/cardsImg/6S.jpg" *ngIf="prop.name == '6ofSpades'">
          <img src="assets/cardsImg/7S.jpg" *ngIf="prop.name == '7ofSpades'">
          <img src="assets/cardsImg/8S.jpg" *ngIf="prop.name == '8ofSpades'">
          <img src="assets/cardsImg/9S.jpg" *ngIf="prop.name == '9ofSpades'">
          <img src="assets/cardsImg/10S.jpg" *ngIf="prop.name == '10ofSpades'">
          <img src="assets/cardsImg/12S.jpg" *ngIf="prop.name == '12ofSpades'">
          <img src="assets/cardsImg/13S.jpg" *ngIf="prop.name == '13ofSpades'">
          <img src="assets/cardsImg/14S.jpg" *ngIf="prop.name == '14ofSpades'">
          <img src="assets/cardsImg/1S.jpg" *ngIf="prop.name == '11ofSpades'">
          <img src="assets/cardsImg/2H.jpg" *ngIf="prop.name == '2ofHearts'">
          <img src="assets/cardsImg/3H.jpg" *ngIf="prop.name == '3ofHearts'">
          <img src="assets/cardsImg/4H.jpg" *ngIf="prop.name == '4ofHearts'">
          <img src="assets/cardsImg/5H.jpg" *ngIf="prop.name == '5ofHearts'">
          <img src="assets/cardsImg/6H.jpg" *ngIf="prop.name == '6ofHearts'">
          <img src="assets/cardsImg/7H.jpg" *ngIf="prop.name == '7ofHearts'">
          <img src="assets/cardsImg/8H.jpg" *ngIf="prop.name == '8ofHearts'">
          <img src="assets/cardsImg/9H.jpg" *ngIf="prop.name == '9ofHearts'">
          <img src="assets/cardsImg/10H.jpg" *ngIf="prop.name == '10ofHearts'">
          <img src="assets/cardsImg/12H.jpg" *ngIf="prop.name == '12ofHearts'">
          <img src="assets/cardsImg/13H.jpg" *ngIf="prop.name == '13ofHearts'">
          <img src="assets/cardsImg/14H.jpg" *ngIf="prop.name == '14ofHearts'">
          <img src="assets/cardsImg/1H.jpg" *ngIf="prop.name == '11ofHearts'">
      </div>
      <div class="playerButtons" id="playerButtons">
          <button (click)="dealCardToPlayer()" id="playerDeal">Deal</button>
          <button (click)="playerHold()">Hold</button>
      </div>
      <div class="playerResult"><h2>{{playerResult}}</h2></div>
      <div class="playerCoins">
        <h3>COINS:{{playerCoins}}</h3>
        <p>BET: {{betValue}} COINS</p>
        <select class="betValue" name="betValue" id="betValue" (change)="setBetValue($event)">
          <option value="100">100</option>
          <option value="200">200</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
  </div>
 
</div>
