<div class="homeMain">
  <div class="blackJackDiv">
    <div class="blackJackModal">
      <button routerLink='/blackJack'>Play</button>
      <button (click)="showModalGameInfoBlackJack()">Game Info</button>
    </div>
  </div>
  <div class="tablicDiv">
    <div class="tablicModal">
      <button routerLink='/tablic'>Play</button>
      <button (click)="showModalGameInfoTablic()">Game Info</button>
    </div>
  </div>
</div>

<div class="blackJackGameInfoModal" id="blackJackGameInfoModal">
  <div class="blackJackGameInfoModalMain">
    <h1>Black Jack</h1>
    <p>The North American game of Blackjack, also known as 21, has been one of the most popular casino games of the last
      hundred years and has spread throughout the world. In the 21st century it has been overtaken in popularity by
      Slots (slot machine games), but it remains one of the most popular casino card games and is available in almost
      all casinos both on and offline.

      Blackjack is a casino banked game, meaning that players compete against the house rather than each other. The
      objective is to get a hand total of closer to 21 than the dealer without going over 21 (busting).

      At the start of a Blackjack game, the players and the dealer receive two cards each. The players' cards are
      normally dealt face up, while the dealer has one face down (called the hole card) and one face up. The best
      possible Blackjack hand is an opening deal of an ace with any ten-point card.

      The house advantage of this game is derived from several rules that favour the dealer. The most significant of
      these is that the player must act before the dealer, allowing the player to bust and lose their bet before the
      dealer plays.</p>
  </div>
</div>
<div class="tablicGameInfoModal" id="tablicGameInfoModal">
  <div class="tablicGameInfoModalMain">
    <h1>Tablić</h1>
    <p>Tablić is a fishing game played in Serbia and other countries of the former Yugoslavia. The Serbian game is
      described first, followed by the differences in other countries so far as I know them. The almost identical
      Romanian game Tabinet

      Tablić is played with a standard 52-card deck without jokers. For the purpose of capture the cards have values:
      king=14, queen=13, jack=12, ace=1 or 11 at the choice of the player, other cards face value. The suits have no
      significance in this game, except that the diamond10 and club2 are worth extra points in the scoring.

      There are normally either two players, or for four players in fixed partnerships, partners sitting opposite each
      other. A three-player game is also possible, but less usual. In Serbia the deal and play are counter-clockwise.
      At your turn you play one card face up on the table. If its value is equal to a card or a set of cards in the
      layout, you may capture any such cards or sets. No card can belong to more than one captured set at the same time.
      For example with 2, 3, 4, 7 on the table, a 9 can capture 2+3+4 or 2+7 but not both these sets at once, since the
      2 can only belong to one of them. You take the captured cards, along with the card you played, and store them face
      down in your pile of captured cards.
      If the played card does not match any card or sum of cards, it is simply left face up on the table as an extra
      card of the layout, which may be captured in a future play. Irrespective of whether the played card captured
      anything or not, it is then the next player's turn to play.</p>
      <h2>Scoring</h2>
      <p>At the end of the play, each player or team scores for captured cards as follows:</p>
      <ul>
        <li>Each Ace, King, Queen or Jack: 1 point</li>
        <li>10 of diamonds: 2 points</li>
        <li>Other tens: 1 point </li>
        <li>2 of clubs: 1 point </li>
        <li>The player or team with most cards: 3 points</li>
      </ul>
  </div>
</div>