.homeAll{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    width: 100%;
}
.cardOfCards{
    color: white;
    height: 211px;
    text-align: center;
    width: 138px;
}